body {
  text-align: center;
  margin-top: 3px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: rgb(37, 37, 37);
}

#thankyou {
  font-size: 29px;
  margin-bottom: 12px;
}

h1 {
  font-size: 25px;
  margin-top: 10px;
  text-align: left; /* Align the text to the left */
  margin-left: 130px; /* Adjust the left margin */
}

h2 {
  font-size: 25px;
  margin-bottom: 40px;
  text-align: left; /* Align the text to the left */
  margin-right: 140px; /* Adjust the left margin */
}

p {
  text-align: center;
}
