body {
  text-align: center;
  margin-top: 3px;
  font-family: "Courier";
  background-color: #fff5e4;
  color: rgb(37, 37, 37);
}
#thankyou {
  font-size: 29px;
  margin-bottom: 12px;
}

h1{
  font-size: 25px;
}
p {
  text-align: center;
}
